@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
body {
  background-image: linear-gradient(to left, #2d2d2d, #8f732c);

  margin: 0;
  padding: 0;
  
}
.navbar {
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
  padding: 10px;
  background-image: linear-gradient(to left, #2d2d2d, #8f732c);
  
}
#episode {
  font-family: Quintessential;
  font-size: 18px;
  background-color: #ab862b;
  color: white;
  border-radius: 20px;
  height: 40px;
   width: 20rem;
  margin-top: 20px;
  margin-right: 20px;
  padding: 5px;
}
option {
  color: #dcdcdc;
}

/**********searchbox************/
.main {
  
  margin-top: 20px;
  float: right;
  
}
.main input {
  width: 70%;
  border: 1px solid #ab862b;
 
  font-size: 18px;
  padding: 9px;
  border-radius: 20px;
  background-color: transparent;
  color: #dcdcdc;
}

.main input:hover {
  opacity: 0.5;
  transition: width 1s, height 1s;
  width: 80%;
}
.main i {
  width: 10%;

  color: #ab862b;
  transition: all 0.4s;
  float: right;

  
  padding: 10px;
 
 
  font-size: 30px;
}

h2 {
  font-family: Quintessential;
  margin-bottom: 20px 10px;
  /* display: flex;
  justify-content: center; */
  color: #ab862b;
  text-decoration: underline;
  background-image: linear-gradient(to left, #2d2d2d, #8f732c);
}
.image {
  padding: 10px;
}

.card {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-image: linear-gradient(to right, #2d2d2d, #8f732c);
   margin: 2rem;
   text-align: center;
   width: 300px;
}
.card:hover {
  cursor: pointer;
  box-shadow: rgba(14, 30, 37, 0.12) 10px 10px 8px 8px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-image: linear-gradient(to right, #2d2d2d, #8f732c);
}
.summary {
  font-family: Quintessential;
  color: #dcdcdc;
  padding:10px;
}
.title {
  font-family: Quintessential;
  color: #bd8007;
  padding: 10px;
}
.bi {
  padding: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 30px;
  justify-content: space-evenly;
  

  margin-bottom: 20px;
}

