@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
html{
    background-color:#2D2D2D;
    margin : 0 ; 
    padding: 0 ;
    width: 100%;
  }
  .navbar{
      display: flex;
      justify-content: flex-end;
      padding: 10px;
  }
  #episode{
      font-family:Quintessential ;
    font-size: 18px;
background-color: #AB862B;
padding: 20px;
color: white;
border-radius: 20px;
height:30px;

margin-top: 20px;
margin-right: 20px;
padding:25px;
}



  /**********searchbox************/
  .main{
      display: flex;
      justify-content: space-between;
    margin-top: 20px;
float: right;  
  width: 30%;
  }
  .main input,button{
    width:100%;
    border:1px solid #AB862B;
    border-right:70px;
    font-size: 18px;
    padding:12px;
    border-radius: 20px;
    background-color: transparent;
    color:#dcdcdc;
  }
  
  .main input:hover{
    opacity: 0.5;
  }
  .main button{
    width:10%;

    color:#AB862B;
    transition: all 0.4s;
    float: right;
   
    display: flex;
   
    align-items: baseline;
    flex-wrap: wrap;

  }
  .main button:hover{
    opacity: 0.5;
    width: 200px;
  }

    
    